.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.main-container {
  position: absolute;
  left: auto;
  padding: 0;
  margin: 0;
}

.device-card-list-container {
  display: inline-block;
}

.device-details-container {
  display: inline-block;
  position: fixed;
  left: 200px;
  width: auto;
}

.device-card-container {
  background-color: gray;
  border: 20px solid gray;
  margin-right: auto;
  width: auto;
}

.info-icon {
  display: inline-flex;
  position: absolute;
  width: auto;
  left: auto;
}
