<div class="search-bar-container">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <br />
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="searchDevice"
      />
      <button class="btn btn-primary" (click)="clearSearch()">Cancel</button>
    </div>
  </div>
  <div class="main-container">
    <br />
    <div class="device-card-list-container">
      <mat-list class="list-group">
        <mat-list-item
          class="list-group-item"
          *ngFor="let device of devices | filter: searchDevice; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveDevice(device, i)"
        >
          <br />
          <div class="device-card-container">
            <mat-card>
              <mat-card-header class="device-card-header">
                <mat-card-title> {{ device.name }} </mat-card-title>
              </mat-card-header>
              <br />

              <div class="device-icon">
                <img
                  mat-card-image
                  src="assets/{{ device.type }}-icon.png"
                  width="15"
                  height="20"
                />
              </div>

              <mat-card-content class="device-card-status"
                >Status: {{ device.status }}</mat-card-content
              >
              <mat-card-content class="info-icon"
                ><img
                  mat-card-image
                  src="assets/info-icon.png"
                  width="15"
                  height="20"
              /></mat-card-content>
            </mat-card>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="device-details-container">
      <div *ngIf="currentDevice">
        <div>
          <label><strong>Details:</strong></label> {{ currentDevice.name }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentDevice.status }}
        </div>
        <div>
          <label><strong>Temperature:</strong></label>
          {{ currentDevice.temperature }} Celsius
        </div>
        <div>
          <label><strong>Usage:</strong></label>
          <br />
          <img
            src="assets/usage-chart-place-holder.png"
            alt="placeholder"
            width="125"
            height="200"
          />
        </div>
      </div>
    </div>
  </div>
</div>
