<div class="device-list-container">
  <div class="search-bar-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search by name"
      [(ngModel)]="searchDevice"
    />
    <button (click)="clearSearch()">Cancel</button>
  </div>
  <br />
  <div class="related-devices-container">
    <span class="related-devices">Related Devices:</span>
  </div>
  <mat-list class="device-list">
    <mat-list-item
      *ngFor="let device of devices | filter: searchDevice; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveDevice(device, i)"
    >
      <br />
      <div class="device-card-container">
        <mat-card class="device-card">
          <mat-card-header class="device-card-header">
            <mat-card-title class="device-card-title">{{
              device.name
            }}</mat-card-title>
          </mat-card-header>
          <br />
          <div class="device-icon">
            <img
              mat-card-image
              src="assets/{{ device.type }}-icon.png"
              width="15"
              height="20"
            />
          </div>

          <mat-card-content class="device-card-status"
            >Status: {{ device.status }}</mat-card-content
          >
          <mat-card-content class="info-icon"
            ><img
              mat-card-image
              src="assets/info-icon.png"
              width="15"
              height="20"
          /></mat-card-content>
        </mat-card>
      </div>
    </mat-list-item>
  </mat-list>
</div>
