<div style="width: 400px; margin: auto">
  <div *ngIf="currentDevice" class="edit-form">
    <h4>Device</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentDevice.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input
          type="text"
          class="form-control"
          id="status"
          [(ngModel)]="currentDevice.status"
          name="status"
        />
      </div>

      <div class="form-group">
        <label><strong>Publishing:</strong></label>
        {{ currentDevice.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentDevice.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentDevice.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteDevice()">
      Delete
    </button>

    <button type="submit" class="badge badge-success" (click)="updateDevice()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentDevice">
    <br />
    <p>Cannot access this Device...</p>
  </div>
</div>
